* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "cairo";

    display: flex;
    justify-content: center;
}

/* Intro section
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.intro-image {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 90%;
    height: 90%;
    object-fit: contain;
}

/* Image 1 Animation */
/* #image1 {
    animation: fadeRight 3s forwards;
}
/* 
/* Image 2 Animation */
#image2 {
    animation: fadeLeft 3s forwards;
    animation-delay: 3s;
    /* Delays start until image1 finishes */
}

/* Image 3 Animation */
#image3 {
    animation: fadeCenter 3s forwards;
    animation-delay: 6s;
    /* Delays start until image2 finishes */
}

/* Keyframes for animations */
@keyframes fadeRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(500px);
        opacity: 0;
    }
}

@keyframes fadeLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-500px);
        opacity: 0;
    }
}

@keyframes fadeCenter {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

.intro-image.active {
    opacity: 1;
}

/* Main content styles (as before) */


.main-content {
    width: 70vw;
    background-color: rgb(223, 223, 223);
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease, opacity 1s ease;
    box-shadow: 2px 2px 5px gray;
}


/* .hidden {
    display: none;
    opacity: 0;
    transform: scale(0);
} */

/* .visible {
    display: flex;
    opacity: 1;
    transform: scale(1);
} */

.container {
    width: 70%;
    height: 36rem;
    background-image: url(../assets/img/back-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.container img:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.container h1,
.container p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.3;
}

.container h1 {
    padding-top: 1rem;

}

.container p {
    color: rgb(43, 158, 43);
}

.left,
.right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.middle {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.below {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.below .about {
    margin: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.below h2 {
    color: rgb(58, 58, 240);
    font-size: xx-large;
}

.up img {
    width: 75%;
}

.up {
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.up div {
    -webkit-filter: drop-shadow(-5px 5px 5px #222);
    filter: drop-shadow(-5px 5px 5px #222);
    transition: .5s filter ease-in-out;
}

.up div:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(5px -5px 8px #222);
    filter: drop-shadow(5px -5px 8px #222);
}

#motion,
#web-design {
    padding-top: 3rem;
}

#marketing {
    padding-top: 6rem;
}



/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: rgba(255, 255, 255, 0.488);
    padding: 2rem;
    width: 80%;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto;
    transform: scale(0.5) skewX(30deg);
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.modal.show .modal-content {
    transform: scale(1) skewX(0deg);
    opacity: 1;
}

.close-modal {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #101010;
    color: rgba(255, 255, 255, 0.452);
    border: none;
    cursor: pointer;
}

.digital {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.animate-divs {
    display: block;
    animation: enter-view 1.5s ease-out;
}

.digital img {
    width: 100%;
}

@keyframes enter-view {
    0% {
        transform: translateX(-500px);
        /* opacity: 0; */
    }

    100% {
        transform: translateX(0);
        /* opacity: 1; */
    }
}

:root {
    --screenWidth: 300px;
    --lineClamp: 6;
    --slideHeight: 350px;
    --slideWidth: 200px;
    --spaceBtwSlideLeft: 0px;
    --spaceBtwSlideRight: 0px;
    --slideBorderRadiusSlide: 10px;
    --paddingTopSlide: 10px;
    --paddingLeftSlide: 0px;
    --ImgWidthSlide: 100%;
    --marginLeftRight: 0px;
    --marginTop: 0px;
    --marginBottom: 0px;
    --marginLeft: 0px;
    --marginRight: 0px;
    --borderRadiusImg: 0px;
    --paddingLeftRight: 0px;
    --paddingTop: 0px;
    --paddingBottom: 0px;
    --paddingLeft: 0px;
    --paddingRight: 0px;
    --slideBorderSize: 0px;
    --slideBorderColor: #275EFE;
    --slideBorderType: solid;
    --slideSolidBackgroundColor: #fff;
    --slideGradientBackgroundColorStart: #0093E9;
    --slideGradientBackgroundColorEnd: #80D0C7;
    --slideGradientBgStartOrientation: 90deg;
    --slideGradientBgStartIntensity: 0%;
    --slideGradientBgEndIntensity: 100%;
    --marginTopTitle: 15px;
    --marginBottomTitle: 15px;
    --marginLeftTitle: 10px;
    --marginRightTitle: 10px;
    --titleAlignment: left;
    --titleColor: #5f637d;
    --textColor: #5f637d;
    --TitleSize: 16px;
    --textAlignment: left;
    --textSize: 12px;
    --titleWeight: 600;
    --textWeight: normal;
    --marginTopText: 15px;
    --marginBottomText: 15px;
    --marginLeftText: 10px;
    --marginRightText: 10px;
    --imgBackground: url(https://cdn.mos.cms.futurecdn.net/i7xipepPSZQaTCmoQFbbwc.jpg);
    --buttonFontSize: 13px;
    --buttonFontColor: white;
    --buttonTextAlign: center;
    --buttonBorderRadius: 0px;
    --buttonBgColor: #2c8ae8;
    --buttonWidth: 145px;
    --buttonpaddingBottom: 5px;
    --buttonpaddingTop: 5px;
    --buttonpaddingLeft: 15px;
    --buttonpaddingRight: 15px;
    --buttonWeight: 100;
    --buttonBorderSize: 0px;
    --buttonBorderColor: #275EFE;
    --buttonBorderType: solid;
}

::-webkit-scrollbar {
    width: 0px;
}

.rounded-reel-item {
    margin-left: var(--spaceBtwSlideLeft);
    margin-right: var(--spaceBtwSlideRight);
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: var(--paddingTopSlide);
    padding-bottom: var(--paddingTopSlide);
    padding-left: var(--paddingLeftSlide);
    padding-right: var(--paddingLeftSlide);
    flex-direction: column;
    border-radius: var(--slideBorderRadiusSlide);
    min-width: 100vw;
}

.controlerFinalCarousel div {
    text-align: center;
    border-radius: 50px;
    border: none;
    height: 20px;
    width: 20px;
    display: flex;
    margin: 10px 20px;
    padding: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    backdrop-filter: blur(11px) saturate(180%);
    -webkit-backdrop-filter: blur(11px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.controlerFinalCarousel div img {
    width: 16px;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.containerVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slideTemplate {
    display: inline-block;
    width: var(--slideWidth);
    height: var(--slideHeight);
    border-radius: var(--slideBorderRadiusSlide);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin: 20px;
    border-width: var(--slideBorderSize);
    border-color: var(--slideBorderColor);
    border-style: var(--slideBorderType);
    background-color: var(--slideSolidBackgroundColor);
    overflow: hidden;
    transition: 300ms ease-out;
}

.slideTemplate img {
    width: var(--ImgWidthSlide);
    height: var(--ImgHeightSlide);
    margin-top: var(--marginTop);
    margin-bottom: var(--marginBottom);
    margin-left: var(--marginLeft);
    margin-right: var(--marginRight);
    padding-top: var(--paddingTop);
    padding-bottom: var(--paddingBottom);
    padding-left: var(--paddingLeft);
    padding-right: var(--paddingRight);
    border-radius: var(--borderRadiusImg);
}

.backgroundColor {
    background: linear-gradient(var(--slideGradientBgStartOrientation), var(--slideGradientBackgroundColorStart) var(--slideGradientBgStartIntensity), var(--slideGradientBackgroundColorEnd) var(--slideGradientBgEndIntensity));
}

.slideTemplate p,
.slideTemplate h2 {
    max-width: 200px;
}

.slideTemplate p {
    margin-top: var(--marginTopText);
    margin-bottom: var(--marginBottomText);
    margin-left: var(--marginLeftText);
    margin-right: var(--marginRightText);
    text-align: var(--textAlignment);
    color: var(--textColor);
    font-size: var(--textSize);
    font-weight: var(--textWeight);
    white-space: initial;
    line-height: 1.6;
}

.slideTemplate h2 {
    margin-top: var(--marginTopTitle);
    margin-bottom: var(--marginBottomTitle);
    margin-left: var(--marginLeftTitle);
    margin-right: var(--marginRightTitle);
    text-align: var(--titleAlignment);
    color: var(--titleColor);
    font-size: var(--TitleSize);
    font-weight: var(--titleWeight);
    font-family: 'Fira Sans', sans-serif;
}

.slideTemplate a {
    margin: auto;
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: var(--buttonFontSize);
    line-height: 25px;
    font-weight: var(--buttonWeight);
    letter-spacing: -.005em;
    color: var(--buttonFontColor);
    text-align: var(--buttonTextAlign);
    border-radius: var(--buttonBorderRadius);
    cursor: pointer;
    background-color: var(--buttonBgColor);
    width: var(--buttonWidth);
    text-transform: none !important;
    padding-bottom: var(--buttonpaddingBottom);
    padding-top: var(--buttonpaddingTop);
    padding-left: var(--buttonpaddingLeft);
    padding-right: var(--buttonpaddingRight);
    border-width: var(--buttonBorderSize);
    border-color: var(--buttonBorderColor);
    border-style: var(--buttonBorderType);
    font-family: "Fira Sans", sans-serif;
}

.slideContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.backgroundImage {
    background-image: var(--imgBackground);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainContainerCarouselFinal {
    padding-left: 0px;
    padding: 0px 0px 0px;
    max-width: 1200px;
    margin-bottom: 40px;
    overflow-x: hidden scroll;
    padding-top: 12px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(var(--screenWidth));
    max-width: 1200px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    scroll-padding-left: 20%;
    mask-image: linear-gradient(to right, transparent 0%, black 7% 94%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 7% 94%, transparent 100%);
    mask-mode: alpha;
    margin: 20px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.controlerFinalCarousel {
    width: calc(var(--screenWidth));
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Responsive Styles */
@media screen and (max-width: 930px) {
    .main-content {
        width: 100vw;
        height: 50vh;
        /* background-image: url(bg_pic.jpg); */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: flex-start;
    }

    .container {
        width: 100%;
        height: 60%;
    }

    .below {
        width: 100%;
        height: 40%;
    }

    p {
        font-size: 150%;
        margin: 0;
    }

    .modal-content {
        width: 90%;
    }
}